html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#txConsulta{
    width: 500px;    
}

#txResposta {
    width: 1000px;
    height:400px;
}